.loginBox {
    border-radius: 25px;
    left: 0;
    display: block;
    width: cover;
    height: auto;
}

.inputBox {
    width: 95%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    list-style-type: text;
}

.buttonS {
    width: 40%;
    border: 2px solid black;
    background-color: green;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.fieldWidth {
    border-radius: 10px;
    width: 35%;
}